#!/usr/bin/env python

import sys

import pymysql.cursors

connection = pymysql.connect(host='127.0.0.1',
                             port=3306,
                             user='monitor',
                             password='{{ percona.monitor_password }}',
                             connect_timeout=1,
                             read_timeout=1,
                             cursorclass=pymysql.cursors.DictCursor)


def fetch_data(connection):

    try:
        with connection.cursor() as cursor:
            sql = "SHOW STATUS LIKE 'wsrep%'"
            cursor.execute(sql)
            data = cursor.fetchall()
            return data
    except Exception:
        sys.exit(1)


def check_galera(connection):

    results = {}
    data = fetch_data(connection)
    for i in data:
        results[i['Variable_name']] = i['Value']

    if (results["wsrep_local_state_comment"] != "Synced" or
            results["wsrep_evs_state"] != "OPERATIONAL" or
            results["wsrep_connected"] != "ON" or
            results["wsrep_ready"] != "ON"):

        sys.exit(1)
    else:
        sys.exit(0)

check_galera(connection)
